Heart_disease_flows.json
[{"id":"b7b89640d5abb582","type":"tab","label":"HFPM DASHBAORD","disabled":false,"info":""},{"id":"95d807cc51021931","type":"debug","z":"b7b89640d5abb582","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":320,"wires":[]},{"id":"1e4e73bb5bc61943","type":"function","z":"b7b89640d5abb582","name":"pre-token","func":"global.set(\"hb\",msg.payload.hb)\nglobal.set(\"ppd\",msg.payload.ppd)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"em\",msg.payload.em)\n\nvar apikey=\"IWC3SHextVRj4CIeuScrCrrg6W5gvQ7rGYNYckkmI897\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":160,"wires":[["e35f0a6cf1d5c9e4"]]},{"id":"e35f0a6cf1d5c9e4","type":"http request","z":"b7b89640d5abb582","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":350,"y":160,"wires":[["49f5da290da2ac9b","f36da28e7648b8c4"]]},{"id":"49f5da290da2ac9b","type":"debug","z":"b7b89640d5abb582","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"f36da28e7648b8c4","type":"function","z":"b7b89640d5abb582","name":"Pre Prediction","func":"var hb = global.get(\"hb\")\nvar ppd = global.get(\"ppd\")\nvar ch = global.get(\"ch\")\nvar bm = global.get(\"bm\")\nvar ag = global.get(\"ag\")\nvar s = global.get(\"s\")\nvar fh = global.get(\"fh\")\nvar sm = global.get(\"sm\")\nvar em = global.get(\"em\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\n                \"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\n                \"values\":[[hb,ppd,ch,bm,ag,s,fh,sm,em]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":60,"wires":[["6a1aa79071199cbe"]]},{"id":"cdab6f9f1e2cfe98","type":"debug","z":"b7b89640d5abb582","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":140,"wires":[]},{"id":"8c526890f2304193","type":"inject","z":"b7b89640d5abb582","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["1e4e73bb5bc61943"]]},{"id":"c9ab063de3e1cdf0","type":"debug","z":"b7b89640d5abb582","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":60,"wires":[]},{"id":"bfa642eeedb150df","type":"function","z":"b7b89640d5abb582","name":"Parsing","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.probablity = msg.payload.predictions[0].values[0][1][0];\n        msg.payload = \"Not at Risk\";\n    }\nelse \n    {\n        msg.probability = msg.payload.predictions[0].values[0][1][1];\n        msg.payload = \"At Risk\";\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":80,"wires":[["c9ab063de3e1cdf0","1b75bf620381386b"]]},{"id":"1b75bf620381386b","type":"ui_text","z":"b7b89640d5abb582","group":"80c2766c.ace4c8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1060,"y":100,"wires":[]},{"id":"4691e18afd3dcda4","type":"ui_form","z":"b7b89640d5abb582","name":"","label":"","group":"80c2766c.ace4c8","order":1,"width":0,"height":0,"options":[{"label":"AVERAGE HEART BEATS ( Per Minute )","value":"hb","type":"number","required":true,"rows":null},{"label":" PALPITATIONS PER DAY","value":"ppd","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"ch","type":"number","required":true,"rows":null},{"label":"BMI","value":"bm","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX (M or F)","value":"s","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY (Y or N)","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKER ( In Last 5 Years : Y or N )","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISE ( Minutes Per Week )","value":"em","type":"number","required":true,"rows":null}],"formValue":{"hb":"","ppd":"","ch":"","bm":"","ag":"","s":"","fh":"","sm":"","em":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":110,"y":240,"wires":[["95d807cc51021931","1e4e73bb5bc61943"]]},{"id":"af447a44c7e478d3","type":"ui_text","z":"b7b89640d5abb582","group":"80c2766c.ace4c8","order":2,"width":0,"height":0,"name":"","label":"Score","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1050,"y":240,"wires":[]},{"id":"583d166422c47503","type":"debug","z":"b7b89640d5abb582","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":200,"wires":[]},{"id":"847a9ba6cfd56e3c","type":"function","z":"b7b89640d5abb582","name":"","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.payload = msg.payload.predictions[0].values[0][1][0];\n       \n    }\nelse \n    {\n        msg.payload = msg.payload.predictions[0].values[0][1][1];\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":220,"wires":[["583d166422c47503","af447a44c7e478d3"]]},{"id":"6a1aa79071199cbe","type":"http request","z":"b7b89640d5abb582","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/9474a666-d333-4a24-a479-bad9630a9558/predictions?version=2022-07-14","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":730,"y":140,"wires":[["cdab6f9f1e2cfe98","bfa642eeedb150df","847a9ba6cfd56e3c"]]},{"id":"80c2766c.ace4c8","type":"ui_group","name":"Default","tab":"129cfec8363d6e29","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"129cfec8363d6e29","type":"ui_tab","z":"b7b89640d5abb582","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]